@page "/AddEmp"
@using BlazorCRUD.Data;
@inject EmpService objEmpService
@inject NavigationManager objNavigationManager

<h2>Add Employee</h2>
<hr />

<EditForm Model="@objEmp" Context="formContext" OnValidSubmit="CreateEmp">
    <DataAnnotationsValidator />
        <ValidationSummary />
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input form="Name" class="form-control" @bind-value="@objEmp.Name" />
            </div>
            <div class="form-group">
                <label for="Name" class="control-label">Gender</label>
                <select @bind="@objEmp.Gender" class="form-control">
                    <option value="">Select</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Country" class="control-label">Country</label>
                <input form="Country" class="form-control" @bind-value="@objEmp.Country" />
            </div>
            <div class="form-group">
                <label for="City" class="control-label">City</label>
                <input form="City" class="form-control" @bind-value="@objEmp.City" />
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
        <button type="submit" class="btn btn-primary" @onclick="@(() => Cancel())">Cancel</button>
                
            </div>

        </div>
    </div>
</EditForm>

    @code {
        EmployeeInfo objEmp = new EmployeeInfo();
        protected void CreateEmp()
        {
            objEmpService.Create(objEmp);
            objNavigationManager.NavigateTo("Emp");
        }
        void Cancel()
        {
            objNavigationManager.NavigateTo("Emp");
        }
        
    }
