@page "/EditEmp/{CurrentID}"
@using BlazorCRUD.Data;
@inject EmpService objEmpService
@inject NavigationManager objNavigationManager

<h2>Update Employee</h2>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <input type="hidden" @bind="@objEmp.EmpId"/>
            </div>
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input form="Name" class="form-control" @bind="@objEmp.Name" />
            </div>
            <div class="form-group">
                <label for="Name" class="control-label">Gender</label>
                <select @bind="@objEmp.Gender" class="form-control">
                    <option value="">Select</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Country" class="control-label">Country</label>
                <input form="Country" class="form-control" @bind="@objEmp.Country" />
            </div>
            <div class="form-group">
                <label for="City" class="control-label">City</label>
                <input form="City" class="form-control" @bind="@objEmp.City" />
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@UpdateEmp" value="Update" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>

        </div>
    </div>
</form>

@code {
    [Parameter]
    public string CurrentID { get; set; }
    EmployeeInfo objEmp = new EmployeeInfo();

    protected override async Task OnInitializedAsync()
    {
        objEmp = await Task.Run(() =>objEmpService.GetEmpById(Convert.ToInt32(CurrentID)));
    }
    protected void UpdateEmp()
    {
        objEmpService.UpdateEmp(objEmp);
        objNavigationManager.NavigateTo("Emp");
    }
    void Cancel()
    {
        objNavigationManager.NavigateTo("Emp");
    }
}
